@charset "UTF-8";
/* CSS Document */

body{   background: -color:red; }

.header{
	width:920x;
}

.contaner{ margin-left: auto;
          margin-right: auto;
}



.header{ 

width: 920px;
	background: color :#0000ff;



}